<!--エラーメッセージ　始まり-->
  <% if @breed.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @breed.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--エラーメッセージ　終わり-->

<div><%= link_to "<<戻る",admin_breed_path %></div>

<div class='container'>
<!--品種編集画面　始まり-->
  <%= form_for(@breed, url: admin_breed_path, method: :patch) do |f| %>
    <div>
      <div class="breed-edit form-group">
        <div><%= attachment_image_tag(@breed, :image) %></div>
      </div>
      <div class="breed-edit form-group">
	      <div><%= f.attachment_field :image %></div>
      </div>

      <div class="breed-edit form-group">
        <div><%= f.label :"品種名" %></div>
        <div><%= f.text_field :title, class: "form-control" %></div>
      </div>

      <div class="breed-edit form-group">
        <div><%= f.label :"品種説明" %></div>
        <div><%= f.text_area :sentence, class: "form-control" %></div>
      </div>

      <div class="breed-edit form-group">
        <div><%= f.label :"ジャンル"%></div>
        <div><%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --") %></div>
      </div>

      <div>
	      <div><%= f.submit "変更を保存", class: "btn btn-success" %></div>
      </div>
　　</div>
  <% end %>
  <!--品種編集画面　終わり-->
</div>