
<div class='container'>
  <div>
<!--新規品種登録ボタン　始まり-->
    <div class="new_breed">
     <% if admin_signed_in? %>
       <%= link_to new_admin_breed_path, class: "btn btn-secondary" do %>
       <i class="fas fa-plus"></i>
       新規品種登録
       <% end %>
     <% end %>
    </div>
<!--新規品種登録ボタン　終わり-->

<!--ジャンル選択ボックス　始まり-->
  <div class="select_tag">
   <%= form_tag admin_breeds_path, method: :get do %>
      <%= select_tag :genre_id,
                     options_from_collection_for_select(Genre.all, :id, :name, params[:genre_id]),
                     {
                       prompt: '全て',
                       onchange: 'submit(this.form);'
                     }
      %>
    <% end %>
  </div>
<!--ジャンル選択ボックス　終わり-->

<!--品種記事　始まり-->
 <div class="row">
    <% @breeds.each do |breed| %>
    <div class="breed_article">
      <div>
        <div><%= attachment_image_tag breed, :image, fallback: "no_image.jpg", class: "breed"%></div>
      </div>
      <div class="title">
        <%= link_to admin_breed_path(breed) do %>
         <div><%= breed.title %></div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
<!--品種記事　終わり-->


<!--ページネーション　始まり-->
　　<div class="text-center"><%= paginate(@breed_all) %></div>
<!--ページネーション　終わり-->

  </div>
</div>