<h2 class="head-line title_h2 text-center admin_item_index">品種一覧</h2>
<div class='container'>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <%= link_to new_admin_breed_path, class: "btn btn-secondary pull-right new_item" do %>
    <i class="fas fa-plus"></i>
    新規品種登録
    <% end %>
    <table class="table table-hover table-bordered table-condensed">
      <thead>
        <tr class="info">
          <th>画像</th>
          <th>品種名</th>
          <th>ジャンル</th>
        </tr>
      </thead>
      <tbody>
          <% @breeds.each do |breed| %>
          <tr>
            <td class="info col-xs-1">
                <%= attachment_image_tag breed, :image, size: "300x220", fallback: "no_image.jpg" %>
            </td>
            <td class"text-left">
                <%= link_to admin_breed_path(breed), class: "btn-link" do %>
                <%= breed.title %>
                <% end %>
            </td>
            <td class="text-left col-xs-3">
              <% if breed.genre != nil %>
                <%= breed.genre.name %>
              <% else %>
              <p>なし</p>
              <% end %>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
　　<div class="text-center"><%= paginate(@breeds) %></div>
</div>
</div>