
<div class='container'>
<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">品種登録</h2>
  <% if @breed.errors.any? %>
    <%= @breed.errors.count %>件のエラーが発生しました
    <% @breed.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
    <%= form_with model: @breed, url: admin_breeds_path, local:true do |f|%>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="img_field">
        </div>
  	      <%= f.attachment_field :image, class: "image" %>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :"品種名", class: "col-sm-3 control-label" %>
          <%= f.text_field :title, class: "col-sm-9 form-control-static name" %>
        </div>
        <div class="form-group">
          <%= f.label :"品種説明", class: "col-sm-3 control-label" %>
          <%= f.text_area :sentence, class: "col-sm-9 control-label description" %>
        </div>
        <div class="form-group">
          <%= f.label :"ジャンル", class: "col-sm-3 control-label" %>
          <%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --", class: "col-sm-9 genre_id") %>
        </div>

        <div class="actions col-xs-7">
  	      <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
</div>