<div class='container'>
<div class="row">
  <div class="col-xs-12">
    <h2 class="head-line title_h2 text-center">記事投稿</h2>
  <% if @article.errors.any? %>
    <%= @article.errors.count %>件のエラーが発生しました
    <% @article.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
    <%= form_with model: @article, url: admin_articles_path, local:true do |f|%>
      <div class="col-xs-4 col-xs-offset-1">
        <div class="img_field">
        </div>
  	      <%= f.attachment_field :image, class: "image" %>
      </div>
      <div class="col-xs-6">
        <div class="form-group">
          <%= f.label :"タイトル", class: "col-sm-3 control-label" %>
          <%= f.text_field :title, class: "col-sm-9 form-control-static name" %>
        </div>
        <div class="form-group">
          <%= f.label :"文章", class: "col-sm-3 control-label" %>
          <%= f.text_area :sentence, class: "col-sm-9 control-label description" %>
        </div>

        <div class="actions col-xs-7">
  	      <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %>
        </div>

      </div>
    <% end %>
  </div>
</div>
</div>
