<!--エラーメッセージ　始まり-->
  <% if @article.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <strong>入力内容にエラーがあります</strong>
      <ul>
        <% @article.errors.full_messages.each do |message| %>
         <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<!--エラーメッセージ　終わり-->
<div class='container'>
<!--新規記事投稿画面　始まり-->
    <%= form_with model: @article, url: admin_articles_path, local:true do |f|%>
    <div class="article-box">

      <div class="article-form-group">
        <div><%= f.label :"画像選択" %></div>
        <div><%= f.attachment_field :image %></div>
      </div>

      <div class="article-form-group">
        <div><%= f.label :"タイトル" %></div>
        <div><%= f.text_field :title, class: "form-control" %></div>
      </div>

      <div class="article-form-group">
        <div><%= f.label :"文章" %></div>
        <div><%= f.text_area :sentence, class: "form-control" %></div>
      </div>

      <div class="article-form-group">
         <div><%= f.submit "新規登録", class: "btn btn-primary" %></div>
      </div>

    </div>
    <% end %>
<!--新規記事投稿画面　終わり-->
</div>


